@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header  {
  display: flex;
  justify-content: space-between;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.header ul li a {
  text-decoration: none;
  font-size: small;
  color: #a9a9a9;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer  {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.footer ul li a {
  text-decoration: none;
  font-size: small;
  color: #a9a9a9;
  padding: 10px;
}

img {
  width: 600px;
}



button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
